.Logo {
    padding-top: 50px;
}

.search-bar {
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;
}

.graph {
    width:700px;
    display: inline-block;
}

.label {
    text-anchor: middle;
}

.controlView {
    width: 30%;
    display: inline-block;
    position: absolute;
    right: 5%;
    height: 700px;
    overflow: scroll;
}

.productImage {
    width: 400px;
}

.categorySelector {
    padding-bottom: 20px;
}
