.Logo {
    padding-top: 50px;
}

.search-bar {
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;
}

.navbar {
    background-color: #F5A936 !important;
}

.graph {
    width:700px;
}

.label {
    text-anchor: middle;
}
