<div class="page-header" data-ng-controller="HeaderController">
  <div class="logo pull-left">
    <a class="navbar-brand" ui-sref="home" mean-token="'site-title'">Champong</a>
  </div>

  <div class="left pull-left">
    <ul class="navbar-nav nav">
      <li data-ng-repeat="item in menus.main" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
          <a mean-token="item.link" ui-sref='{{item.link}}'>Champong</a>
      </li>
    </ul>
  </div>

  <div class="account">
    <div class="text-edit">
      <div class="pull-right" data-ng-show="global.authenticated" mean-token-editable></div>
      <div class="pull-right" data-ng-show="global.authenticated" mean-translate></div>
    </div>
    <ul class="navbar-nav nav">
        <li id="languageSelection" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                language selection <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li ng-click="toEnglish()"><a>English</a> </li>
                <li ng-click="toKorean()"><a>한국어</a> </li>
            </ul>
        </li>
    </ul>
  </div>
</div>
